<script type="text/javascript" src="/staticResources/js/VM/clientApp.js"></script>
<div id="child_window_cover_layer" style="display: none;">
</div>
<div class="child_window_content_layer" id="child_window_content_layer" style="display: none;">
	<div>
		<div class="headerPart">
			<div id="title" class="stayLeft"></div>
			<div id="lnkClose" class="stayRight"><a href="javascript:void(0)">X</a></div>
			<div style="clear: both;"></div>
		</div>
		<div class="contentPart">
			<div id="nav" class="stayLeft" style="position: relative;">
				<ul style="position: fixed;">
					<li><a href="#desc">概述</a></li>
					<li><a href="#params">参数列表</a></li>
					<li><a href="#example">示例</a></li>
					<li><a href="#others">Mark</a></li>
				</ul>
			</div>
			<div id="content" class="stayLeft">
				<div><a name="desc" href="javascript:void(0)">概述</a></div>
				<div id="description" class="dependenciesArea"></div>
				<div><a href="javascript:void(0)">依赖</a></div>
				<div id="dependencies" class="dependenciesArea"></div>
				<div><a href="javascript:void(0)">返回</a></div>
				<div id="returnType" class="dependenciesArea"></div>
				<div><a name="params" href="javascript:void(0)">参数列表</a></div>
				<div id="parametersItemTemplate" style="display:none;">
					<div class="parameterItem">
						<div class="stayLeft"></div>
						<div class="stayLeft"></div>
						<div class="stayLeft"></div>
						<div style="clear: left"></div>
					</div>
				</div>
				<div id="parameters" class="dependenciesArea"></div>
				<div><a name="example" href="javascript:void(0)">示例</a></div>
				<div class="codeArea">
					<code id="example"></code>
				</div>
				<div><a name="others" href="javascript:void(0)">Mark</a></div>
				<div id="others" class="dependenciesArea"></div>
			</div>
			<div style="clear: both;"></div>
		</div>
		<div class="footerPart">
		</div>
	</div>
</div>

<script>
	var childWindow = (function() {

		var codeDisplayer = $M.alloc("milk.helper.CodeDisplayer");
		var childWindowEntity = $M.alloc("milk.helper.ChildWindow");

		$("#title", "#child_window_content_layer")
			.property("innerHTML").linkTo(childWindowEntity, "Title");

		$("#description", "#child_window_content_layer")
			.property("items", null, {build: function(str) {
				var view = $("<div>").text(str);
				return view.get(0);
			}}).linkTo(childWindowEntity, "Desc");

		$("#dependencies", "#child_window_content_layer")
			.property("items", null, {build: function(str) {
				return $("<div>").text(str).get(0);
			}}).linkTo(childWindowEntity, "Dependencies");
		$("#dependencies", "#child_window_content_layer")
			.property("style.display", {convert: function(value) {
				return value.length ? "" : "none";
			}}).linkTo(childWindowEntity, "Dependencies");

		$("#returnType", "#child_window_content_layer")
			.property("innerHTML").linkTo(childWindowEntity, "ReturnType");
		$("#returnType", "#child_window_content_layer")
			.property("style.display", {convert: function(value) {
				return value.length ? "" : "none";
			}}).linkTo(childWindowEntity, "ReturnType");

		$("#parameters", "#child_window_content_layer")
			.property("items", null, {build: function(ctx) {
				var view = $(".parameterItem", "#parametersItemTemplate").clone();
				$("div:eq(0)", view).property("innerHTML").linkTo(ctx, "Type");
				$("div:eq(1)", view).property("innerHTML").linkTo(ctx, "Name");
				$("div:eq(2)", view).property("innerHTML").linkTo(ctx, "Desc");

				ctx.notify();

				return view.get(0);
			}}).linkTo(childWindowEntity, "Parameters");
		$("#parameters", "#child_window_content_layer")
			.property("style.display", {convert: function(value) {
				return value.length ? "" : "none";
			}}).linkTo(childWindowEntity, "Parameters");

		$(".codeArea", "#child_window_content_layer")
			.property("style.display", {convert: function(value) {
				return value.length ? "" : "none";
			}}).linkTo(childWindowEntity, "Example");

		$("#example", "#child_window_content_layer")
			.property("items", {convert:function(value) {
				return codeDisplayer.render(value);
			}}, {build: function(str) {
				var view = $("<pre>").html(str);
				return view.get(0);
			}}).linkTo(childWindowEntity, "Example");

		$("#others", "#child_window_content_layer")
			.property("items", null, {build: function(str) {
				var view = $("<div>").text(str);
				return view.get(0);
			}}).linkTo(childWindowEntity, "Others");

		$("#others", "#child_window_content_layer")
			.property("style.display", {convert: function(value) {
				return value.length ? "" : "none";
			}}).linkTo(childWindowEntity, "Others");

		var cover = document.getElementById("child_window_cover_layer");
		var content = document.getElementById("child_window_content_layer");
		var endHeaderItem = document.getElementById("endHeaderItem");

		var timeoutId = 0;

		var className = content.className;

		function showCover() {
			cover.style.display = "";
			cover.style.opacity = 0.6;
			
			content.style.display = "";
			content.className = className + " cw_open";

			document.body.style.overflow = "hidden";
			document.body.style.paddingRight = "20px";

			if (endHeaderItem)
				endHeaderItem.style.marginRight = "21px";
		};

		function hideCover() {
			cover.style.opacity = 0;
			content.className = className + " cw_close";

			if (timeoutId)
				clearTimeout(timeoutId);

			timeoutId = setTimeout(function() {
				
				content.className = className;
				content.style.display = "none";

				cover.style.display = "none";
				document.body.style.overflow = "auto";
				document.body.style.paddingRight = "0";

				if (endHeaderItem)
					endHeaderItem.style.marginRight = "0";
			}, 950);
		};

		if(cover.addEventListener) {
			if (cover.addEventListener) {
				cover.addEventListener("click", hideCover, false);
			} else {
				cover.attachEvent("onclick", hideCover);
			};
		}

		return {
			open: function() {
				showCover();
			},
			close: function() {
				hideCover();
			},
			setData: function(dataJson) {
				childWindowEntity.Title = dataJson.title;
				childWindowEntity.loadMore("/document/query/:key");
			}
		};
	})();
</script>

<script>
	$(function() {
		$("#lnkClose", "#child_window_content_layer").on("click", function() {
			childWindow.close();
		});
	})
</script>