<div id="child_window_cover_layer" style="display: none;">
</div>
<div class="child_window_content_layer" id="child_window_content_layer" style="display: none;">
	<div>
		<div class="headerPart">
			<div id="title" class="stayLeft"></div>
			<div id="lnkClose" class="stayRight"><a href="javascript:void(0)">x</a></div>
			<div style="clear: both;"></div>
		</div>
		<div class="contentPart">
			<div id="nav" class="stayLeft" style="position: relative;">
				<ul style="position: fixed;">
					<li><a href="#desc">概述</a></li>
					<li><a href="#params">参数列表</a></li>
					<li><a href="#example">示例</a></li>
				</ul>
			</div>
			<div id="content" class="stayLeft">
				<div><a name="desc" href="javascript:void(0)">概述</a></div>
				<div id="description"></div>
				<div><a href="javascript:void(0)">依赖</a></div>
				<div id="dependencies"></div>
				<div><a href="javascript:void(0)">返回</a></div>
				<div id="returnType"></div>
				<div><a name="params" href="javascript:void(0)">参数列表</a></div>
				<div id="parametersItemTemplate" style="display:none;">
					<div class="parameterItem">
						<div class="stayLeft"></div>
						<div class="stayLeft"></div>
						<div class="stayLeft"></div>
						<div style="clear: left"></div>
					</div>
				</div>
				<div id="parameters"></div>
				<div><a name="example" href="javascript:void(0)">示例</a></div>
				<code id="example"></code>
			</div>
			<div style="clear: both;"></div>
		</div>
		<div class="footerPart">
		</div>
	</div>
</div>

<script>
	var childWindow = (function() {
		var childWindowEntity = $M.alloc("milk.helper.ChildWindow");

		$("#title", "#child_window_content_layer")
			.property("innerHTML").linkTo(childWindowEntity, "Title");

		$("#description", "#child_window_content_layer")
			.property("innerHTML").linkTo(childWindowEntity, "Desc");

		$("#dependencies", "#child_window_content_layer")
			.property("items", null, {build: function(str) {
				return $("<div>").text(str).get(0);
			}}).linkTo(childWindowEntity, "Dependencies");

		$("#returnType", "#child_window_content_layer")
			.property("innerHTML").linkTo(childWindowEntity, "ReturnType");

		$("#parameters", "#child_window_content_layer")
			.property("items", null, {build: function(ctx) {
				var view = $(".parameterItem", "#parametersItemTemplate").clone();
				$("div:eq(0)", view).property("innerHTML").linkTo(ctx, "Type");
				$("div:eq(1)", view).property("innerHTML").linkTo(ctx, "Name");
				$("div:eq(2)", view).property("innerHTML").linkTo(ctx, "Desc");

				ctx.notify();

				return view.get(0);
			}}).linkTo(childWindowEntity, "Parameters");

		$("#example", "#child_window_content_layer")
			.property("items", null, {build: function(str) {
				var view = $("<pre>").text(str);
				return view.get(0);
			}}).linkTo(childWindowEntity, "Example");

		var cover = document.getElementById("child_window_cover_layer");
		var content = document.getElementById("child_window_content_layer");
		var endHeaderItem = document.getElementById("endHeaderItem");

		var timeoutId = 0;

		var className = content.className;

		function showCover() {
			cover.style.display = "";
			document.body.style.overflow = "hidden";
			document.body.style.paddingRight = "20px";
			if (endHeaderItem)
			endHeaderItem.style.marginRight = "20px";
		};

		function hideCover() {
			cover.style.display = "none";
			document.body.style.overflow = "auto";
			document.body.style.paddingRight = "0";
			if (endHeaderItem)
			endHeaderItem.style.marginRight = "0";
		};

		function onCoverClick() {
			content.className = className + " cw_close";

			if (timeoutId)
				clearTimeout(timeoutId);

			timeoutId = setTimeout(function() {
				hideCover();
				content.className = className;
				content.style.display = "none";
			}, 900);
		};

		if(cover.addEventListener) {
			if (cover.addEventListener) {
				cover.addEventListener("click", onCoverClick, false);
			} else {
				cover.attachEvent("onclick", onCoverClick);
			};
		}

		return {
			open: function() {
				showCover();
				content.style.display = "";
				content.className = className + " cw_open";
			},
			close: function() {
				onCoverClick();
			},
			setData: function(dataJson) {
				childWindowEntity.Title = dataJson.title;
				childWindowEntity.loadMore("/document/query/:key");
			}
		};
	})();
</script>

<script>
	$(function() {
		$("#lnkClose", "#child_window_content_layer").on("click", function() {
			childWindow.close();
		});
	})
</script>