<header>
	<div class="layoutPanel_center headPanel">
		<div class="title stayLeft">
			<a href="#">{MILK.js}</a>
		</div>
		<div class="menu stayLeft">
			<a href="#jq">WITH JQUERY</a>
		</div>
		<!-- <div class="menuSplit stayLeft">|</div> -->
		<div class="menu stayLeft">
			<a href="#md">THE MODULES</a>
		</div>
		<div class="menu stayLeft">
			<a href="/staticResources/demo/more.html">DEMO</a>
		</div>
		<!-- <div class="menuSplit stayLeft">|</div> -->
		<div class="menu stayLeft lastMenu">
			<a href="<%= success ? download : '#' %>">DOWNLOAD</a>
		</div>
		<div class="menu stayRight lastMenu">
			<a href="https://github.com/WellerQu/Web-Develop-Tools-for-javascript/">Github</a>
		</div>
		<div style="clear: both;"></div>
	</div>
</header>