#jqMethodPanel li, #modulePanel li {
	list-style: none;
	height: 20px;
	line-height: 20px;
	cursor: pointer;
}
#jqMethodPanel li>div, #modulePanel li>div {
	min-width: 200px;
}

#jqMethodPanel, #modulePanel {
	margin: 30px 0;
}

.description {
	margin-top: 20px;
	text-align: left;
	color: #989898;
}

h1 {
	font-size: 24px;
	color: #000;
}

#child_window_cover_layer {
	position:fixed; top: 0; bottom: 0; left: 0; right: 0; background: #FFF;
}

#child_window_content_layer, .child_window_content_layer {
	position:fixed; min-height: 5px; min-width: 40px; right: 400px; left: 400px; bottom: 200px;  overflow: hidden;
	min-width: 850px;
	background: #B00000;
}

#child_window_content_layer .headerPart {
	height: 80px;
	/*background: #B00000;*/
}

#child_window_content_layer .contentPart {
	height: 470px;
	overflow: auto;
	/*background: #B00000;*/
}

#child_window_content_layer .footerPart {
	height: 30px;
	/*background: #B00000;*/
}

#child_window_content_layer #title {
	color: #FFF;
	width: 300px;
	line-height: 80px;
	font-size: 35px;
	margin-left: 20px;
}

#child_window_content_layer #nav {
	width: 100px;
	height: 100%;
	text-align: right;
}

#child_window_content_layer #nav li {
	margin: 10px 20px;
	list-style: none;
}

#child_window_content_layer #content {
	min-width: 720px;
	height: 100%;
	color: #FFF;
}

#child_window_content_layer #content a,
#child_window_content_layer #content a:hover {
	color: #FFF;
	font-weight: bold;
}

#child_window_content_layer #content>div {
	margin: 10px 20px 15px 20px;
}

.parameterItem>div {
	min-width: 100px;
}

.codeArea {
	border: solid 1px #000;
	background: #252525;
	padding: 5px 0;
	border-radius: 5px;
	box-shadow: 0px 0px 20px #000 inset;
}

.dependenciesArea {
	border: solid 1px #B00000;
	background: #CF0000;
	padding: 10px 15px;
	border-radius: 5px;
	box-shadow: 0px 0px 20px #6F0300 inset;
}

#child_window_content_layer #content code>pre {
	margin-left: 20px;
}

#child_window_content_layer #lnkClose {
	margin-top: 5px;
	margin-right: 10px;
}

#child_window_content_layer a {
	color: #C0C0C0;
	font-size: 14px;
}

#child_window_content_layer a:hover {
	color: #FFF;
}